#verde{
    background-color: greenyellow;
}

#rojo{
    background-color: red;
}

#fucsia{
    background-color: violet;
}

#naranja{
    background-color: orange;
}

#azul{
    background-color: blue;
}

#footer{
    background-color: greenyellow;
}